<div class="container">
  <div class="margin-navbar">
      <div class="container">

        <div class="first-title mb-4"><h1>Resultats recherche</h1></div>
        <div class="mapbox" id="map"
        style="width: 100%; height: 600px;"data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="card-all-gnomes">
          <% @gnomes.each do |gnome|%>
              <div class="card-product">
                <img src="<%= gnome.photo %>" />
                <div class="card-product-infos">
                  <h2><%= link_to gnome.name, gnome_path(gnome) %></h2>
                    <div class="adopt"><p>Adoptez-moi !</p></div>
                  <p><strong><%= gnome.price %></strong>€ par jour</p>
                </div>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
