<div class="container">
  <div class="margin-navbar">
    <div id="gnome-presentation">
      <div class="card-show">
        <div class="gnome-detail">
          <%= image_tag(@gnome.photo, class:"photo-gnome") %>
          <% @gnome.reviews.each do |review| %>
            <p><%= review.comment %></p>
            <p>Note : <%= review.rating %>/5</p>
          <% end %>
        </div>
        <div class="gnome-detail">
          <h1><%= @gnome.name %></h1>
          <%= if @gnome.category == "groupé"
            render 'shared/card-gnome-groupes'
          else
            render 'shared/card-gnome-solo'
          end %>
          <%= simple_form_for [ @gnome, @booking ] do |f| %>
            <%= f.input :date_start, as: :date, html5: true, label:"Date de début" %>
            <%= f.input :date_end, as: :date, html5: true, label:"Date de fin" %>
            <div class="d-flex justify-content-between pr-5">
              <%= f.submit "Faire sa réservation", class: "btn-ghost" %>
            <% end %>
            <%= link_to "Trouver un autre gnome", root_path, class:"btn-mirror"  %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
